<% layout("/layouts/boilerplate.ejs") %>

    <div class="row ">
        <div class="col-8 offset-2 mt-3">
    <h3>Details of List:- </h3>
    </div>
    <div class="show-card col-6 offset-3">
        <img src="<%=allData.image.url%>" class="card-img-top show-img" alt="listing_Image">
    <div class="card-body">
         <p class="card-text"> <b> <%= allData.title %> </b><br>
            Description:- <%= allData.description%><br>
            Price:- &#8377; <%= allData.price ? allData.price.toLocaleString("en-IN") : "N/A" %> / Night<br>
            Location:- <%= allData.location %><br>
            Country:- <%= allData.country %>            

        </p>
  </div>    
    <div class="btns">
         <a href="/listing/<%= allData._id %>/edit" class="btn  col-2 offset-2 show-btns mt-2 mb-2">  Edit  </a>

        <form method="post" action="/listing/<%= allData._id %>?_method=DELETE" class="btn  col-2 offset-4 mt-2 mb-2 del">
        <button><b> Delete</b></button>
    </form>
   </div>
    
    </div>
</div>